.popup-content {
    width: 450px !important;
    border-radius: 5px;
    padding: 0;
  }
  .modal {
    display: block;
    text-align: center;
    padding: 40px;
    position: relative;
  }
  .hidden{
    display:none
  }
  .show {
    display:block
  }
  
  .close-div {
    top: -6px;
    right: -7px;
    position: absolute;
  }
  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #892d32;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
  }
  .sign-in-up {
    display: inline-flex;
    justify-content: space-between;
  }
  .activeState {
    min-width: 90px;
    color: #fff;
    padding: 15px 30px;
    background-color: #892d32;
    display: inline-block;
  }
  .notActive {
    color: #fff;
    min-width: 90px;
    padding: 15px 30px;
    background-color: #bdbfc1;
    display: inline-block;
  }
  .content {
    margin:0 auto;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
  }
  .content1 {
    margin:0 auto;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .password, .email {
    margin: 20px 0;
    display: block;
    height: 32px;
    width: 90%;
    padding: 0 0 0 32px;
    
  }
  .password{
    margin-bottom: 0;
  }
  .icon-input {
    display: block;
    margin: 0 auto;
    width: 295px;
    position: relative;
  }
  
  .icon {
    top: 0;
    left: 0;
    position: absolute;
    color: #fff;
    background-color: #040404;
    padding: 8px 6px;
    border-radius: 3px;
  }
  
  .log-in {
    color: #fff;
    padding: 15px 98px;
    background-color: #892d32;
    display: inline-block;
    border-radius: 5px;
  }
  .remember-pass {
    margin-right: 140px;
    display: inline-block;
  }
  
  .remember-pass-input {
    accent-color: #040404;
    margin-left: 20px;
  }
  .remember-pass p {
    margin-bottom: 30px ;
    display: inline-block;
    color: #a0b3b0;
  }
  .forget-pass {
    margin-top: 15px;
    color: #a0b3b0;
    text-decoration: underline;
  }
  .sms-text {
    color: #574344;
  }
  .phone-number {
    height: 32px;
    width: 90%;
    display: block; 
    padding: 0 0 0 32px;
  }
