.d-flex {
  display: flex;
}
.header {
  margin: 0 auto;
  width: 90%;
}

.icons-ul {
  padding: 0;
  list-style: none;
}

.header-icons {
  padding: 0;
  border-bottom: 0.5px solid rgb(57, 57, 57);
}

.icons-ul li {
  display: inline-block;
  margin-right: 20px;
}

.icons-ul a {
  text-decoration: none;
  color: black;
  font-size: 19px;
}

.facebook:hover {
  color: #3b5998;
}

.instagram:hover {
  color: #e42a24;
}

.youtube:hover {
  color: #ff0000;
}

.linkedin:hover {
  color: #0072b1;
}

.logo {
  padding-top: 6px;
  width: 130px;
}

.header-menu-ul {
  list-style: none;
}

.header-menu-li {
  display: inline-block;
  letter-spacing: 0.1px;
}

.left-menu {
  display: flex;
  justify-content: space-between;
  /* position: fixed;
  height: 80px;
  z-index: 9999;
  background-color: white;
  top:0;
  width:100%;
  margin-bottom:50px */
}

.menu-last-item li {
  list-style: none;
  letter-spacing: 0.1px;
  font-size: 18px;
}

.menu-items-a {
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 10px;
  text-decoration: none;
  color: black;
  display: block;
}

.menu-items-a:hover {
  color: #892d32;
  background-color: #e3dddd;
}

.header-menu-li:after {
  display: block;
  content: "";
  border-bottom: solid 3px #892d32;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
}

.header-menu-li:hover:after {
  transform: scaleX(1);
}

.menu-last-item-li:after {
  display: block;
  content: "";
  border-bottom: solid 3px #892d32;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.menu-last-item-li:hover:after {
  transform: scaleX(1);
}

.menu-last-item-a {
  
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 10px;
  display: block;
  text-decoration: none;
  color: black;
}

.menu-last-item-a:hover {
  color: #892d32;
  background-color: #e3dddd;
}

.dropdown-content {
  position: relative;
  display: none;
}

.header-menu-li:hover .dropdown-content {
  display: block;
}

.dropdown-menu-ul {
  right: 0;
  padding: 20px;
  box-shadow: 1px 1px 4px rgb(0 0 0 / 15%);
  top: 3px;
  display: inline-block;
  min-width: 160px;
  position: absolute;
  list-style: none;
  z-index: 100;
  background-color: #fff;
}

.dropdown-menu-ul a {
  white-space: nowrap;
  text-align: center;
  padding: 10px 10px;
  display: block;
  text-decoration: none;
  color: black;
}

.dropdown-menu-ul li:hover {
  color: #892d32;
  background-color: #e3dddd;
}
.menu-last-item-li:hover .dropdown-content {
  display: block;
}
.popup-content {
  width: 450px !important;
  border-radius: 5px;
  padding: 0;
}
.modal{
  text-align: center;
  
}
.close-div{
  display: flex;
  justify-content: end;
}
.close {
  font-size: 25px;
  height: 40px;
  width: 35px;
  background-color: #892d32;
  border-radius: 7px;
  color:#fff;
  cursor: pointer;
}
.sign-in-up{
  display:inline-flex;
  justify-content: space-between;
}
.sign-in{
  color:#fff;
  padding: 15px 24px;
  background-color: #892d32;
  display: inline-block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.sign-up{
  display: inline-block;
  color:#fff;
  padding: 15px 35px;
  background-color:#BDBFC1;
  display: inline-block;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.content {
   text-align: center;
}
.email {
  margin:0 auto;
  margin-top: 35px;
  display: block;
  height: 25px;
  width: 290px;
 
}
.password {
  margin:0 auto;
  margin-top: 15px;
  display: block;
  height: 25px;
  width: 290px;
}
.log-in {
  margin-top: 20px;
  margin-bottom: 30px;
  color:#fff;
  padding: 15px 98px;
  background-color: #892d32;
  display: inline-block;
  border-radius: 5px;
}
.remember-pass{
  display: inline-flex;
  margin-right: 20px;
}
.remember-pass-input {
  color: #a0b3b0;
  margin-left: 20px ;
}
.remember-pass p {
  display: inline-block;
  color: #a0b3b0;
 
}
.forget-pass {
  margin-top: 15px;
  color: #a0b3b0;
  text-decoration: underline;
}